.angular/cache/15.1.4/angular-webpack/4dc5544c40c68739eb2566d95a1d648411d6a825/1.pack filter=lfs diff=lfs merge=lfs -text
.git_old/objects/pack/pack-4c56c32378575910112ada1415e9686771314367.pack filter=lfs diff=lfs merge=lfs -text
ruta/al/archivo.grande filter=lfs diff=lfs merge=lfs -text
*.pack filter=lfs diff=lfs merge=lfs -text
