<!-- <div class="container">
  <div class="row">
    <div class="col-lg-4 mb-3">
      <img src="assets/img/team-1.jpg" alt="" class="mb-3">
      <h5 class="font-weight-bold mt-2">Robert T. Williams</h5>
      <p class="font-weight-bold mb-3">Graphic Designer</p>
      <p class="text-left mb-3 pl-4 pr-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      <a href="#0" class="font-weight-bold text-decoration-none">@robertwilliams</a>
    </div>
    <div class="col-lg-4 mb-3">
      <img src="assets/img/team-2.jpg" alt="" class="mb-3">
      <h5 class="font-weight-bold mt-2">Angelina B. Widow</h5>
      <p class="font-weight-bold mb-3">Founder / CEO</p>
      <p class="text-left mb-3 pl-4 pr-4">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
      <a href="#0" class="font-weight-bold text-decoration-none">@angelinawidow</a>
    </div>
    <div class="col-lg-4 mb-3">
      <img src="assets/img/team-3.jpg" alt="" class="mb-3">
      <h5 class="font-weight-bold mt-2">Patrick Anderson</h5>
      <p class="font-weight-bold mb-3">Art Director</p>
      <p class="text-left mb-3 pl-4 pr-4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#0" class="font-weight-bold text-decoration-none">@patrickanderson</a>
    </div>
  </div>
</div> -->

<!-- tickets.component.html -->

<div class="container">
  <h1>blockTick dApp</h1>
  <div class="button-group">
    <button (click)="walletService.loginWithMetamask()">Conectar Metamask</button>
    <button (click)="logout()">Desconectar Metamask</button>
  </div>
  <div *ngIf="wallet.address">
    <h2>Información de la Billetera</h2>
    <p>Dirección de Billetera: {{ wallet.address }}</p>
  </div>

  <div *ngIf="nft">
    <h2>Detalles del NFT</h2>
    <p>ID del NFT: {{ nft.id }}</p>
    <p>Nombre del NFT: {{ nft.name }}</p>
    <!-- Agrega más propiedades del NFT según sea necesario -->
  </div>

  <h2>Lista de NFTs</h2>
  <ul>
    <li *ngFor="let nft of nfts">
      <p>ID del NFT: {{ nft.tokenId }}</p>
      <p>Propietario: {{ nft.owner }}</p>
      <p>Precio: {{ nft.price }}</p>
      <p>Precio en USD: {{ nft.priceUsd }}</p>
      <button [disabled]="nft.disabled" (click)="buyTickets(1)">Comprar Ticket</button>
    </li>
  </ul>

  <h2>Mint NFTs</h2>
  <button (click)="_mintNFTs(1)">Mint NFT</button>

  <h2>Operaciones con Tickets</h2>
  <button (click)="useTickets(1)">Usar Ticket</button>
  
</div>
