<!DOCTYPE html>
<html>

<head>
    <title>Compra de Ticket</title>
</head>

<body>
    <div class="center-content">

        <div class="button-group">
            <button (click)="walletService.loginWithMetamask()">Conectar Metamask</button>
            <button (click)="disconnectWallet()">Desconectar Metamask</button>
        </div>
        <div *ngIf="wallet.address">
           
            <p>Dirección de Billetera: {{ wallet.address }}</p>
            <p *ngIf="walletService.wallet.balance">Balance: {{ walletService.wallet.balance }}</p>
            <p>Red: {{ network }}</p>
        </div>

        <h5>Compra de un Ticket para el Usuario Actual</h5>

        <!-- Formulario para comprar un ticket para el usuario actual -->
        <form id="buyOneTicketForm" (ngSubmit)="buyOneTicketForMe()">
            <label for="ticketPriceUser">Precio del Ticket (wei):</label>
            <input type="number" id="ticketPriceUser" name="ticketPriceUser" [value]="ticketPrice" readonly>
            <br><br>
            <button type="submit">Comprar 1 Ticket</button>
        </form>

        <div id="transactionStatus">{{ transactionResult }}</div>
    </div>
</body>

</html>