<!-- wallet-service.component.html -->

<div class="center-container">
  <h2>Wallet Service</h2>

  <form [formGroup]="walletService.loginForm" (ngSubmit)="walletService.sendLogin(walletService.loginForm.value)">
    <!-- Form fields for login -->
  </form>

  <button (click)="walletService.loginWithMetamask()">Login with Metamask</button>
  <button (click)="logout()">Desloguear</button>


  <div>
    <h3>Wallet Info</h3>
    <p *ngIf="isUserLoggedIn()">Address: {{ walletService.wallet.address }}</p>
    <p *ngIf="walletService.wallet.balance">Balance: {{ walletService.wallet.balance }}</p>
    <p *ngIf="nfts.length > 0">NFTs: {{ nfts.length }}</p>

    <div *ngIf="">
      <h3>Your NFTs:</h3>
      <div class="nft-list">
        <div *ngFor="let nft of nfts" class="nft-item">
          <img [src]="nft.image" alt="NFT Image">
          <p><strong>Name:</strong> {{ nft.name }}</p>
          <p><strong>Description:</strong> {{ nft.description }}</p>
          <p><strong>Token ID:</strong> {{ nft.tokenId }}</p>
          <!-- ... other NFT properties ... -->
        </div>
      </div>
  </div>
  
</div>


