<!-- wallet-service.component.html -->

<div class="center-container">
  <h2>Wallet Service</h2>

  <form [formGroup]="walletService.loginForm" (ngSubmit)="walletService.sendLogin(walletService.loginForm.value)">
    <!-- Form fields for login -->
  </form>

  <button (click)="walletService.loginWithMetamask()">Login with Metamask</button>


  <div>
    <h3>Wallet Info</h3>
    <p>Address: {{ walletService.wallet.address }}</p>
    <p>Balance: {{ walletService.wallet.balance }}</p>
  </div>
</div>


