<div class="center-content">
  <form [formGroup]="createEventForm" (ngSubmit)="createEvent()">
    <div class="columns">
      <div class="column">
        <div class="form-field">
          <label for="eventName">Event Name:</label>
          <input type="text" id="eventName" formControlName="eventName" required>
        </div>

        <div class="form-field">
          <label for="eventOrganizer">Event Organizer:</label>
          <input type="text" id="eventOrganizer" formControlName="eventOrganizer" required>
        </div>

        <div class="form-field">
          <label for="eventCategory">Event Category:</label>
          <input type="text" id="eventCategory" formControlName="eventCategory" required>
        </div>

        <div class="form-field">
          <label for="owner">Owner:</label>
          <input type="text" id="owner" formControlName="owner" required>
        </div>
      </div>

      <div class="column">
        <div class="drag-drop-area">
          <label for="imageUpload">Drag & Drop Image:</label>
          <input type="file" id="imageUpload" (change)="previewImage($event)">
          <img id="imagePreview" [src]="imageSrc" alt="Preview" *ngIf="imageSrc">
        </div>

        <!-- Espacio adicional entre campos y botón -->
        <div class="spacer"></div>

        <!-- Botón para llamar a la función createEvent() -->
        <div class="button-container">
          <button type="submit">Create Event</button>
        </div>
      </div>
    </div>
  </form>
</div>
